/Glossary/Glossary.WebApi/App_Data/
Glossary/Glossary.WebApi/bin/
Glossary/Glossary.Data/bin/
Glossary/Glossary.Data/obj/
Glossary/Glossary.Services/bin/
Glossary/Glossary.Services/obj/
Glossary/packages/