Glossary/Glossary.WebApi/App_Data/
Glossary/Glossary.WebApi/bin/
Glossary/Glossary.Data/bin/
Glossary/Glossary.Data/obj/
Glossary/Glossary.Services/bin/
Glossary/Glossary.Services/obj/
Glossary/packages/
Glossary/Glossary.v12.suo

# Angular quick start gitignore
.idea
node_modules
jspm_packages
npm-debug.log
debug.log
src/**/*.js
!src/systemjs.config.extras.js
!src/systemjs.config.js
!src/systemjs-angular-loader.js
*.js.map
e2e/**/*.js
e2e/**/*.js.map
_test-output
_temp