<form name="glossaryAddEditForm" class="form-horizontal" novalidate>
    <div class="modal-header">
        <h3 class="modal-title">Enter Glossary</h3>
    </div>
    <div class="modal-body">

        <div class="form-group">
            <label class="control-label col-sm-2" for="term">Term:</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="term"
                       ng-disabled="vm.isEditMode"
                       ng-model="vm.glossaryItem.term"
                       placeholder="Enter Term...">
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-2" for="definition">Definition:</label>
            <div class="col-sm-10">
                <textarea rows="3" type="text" class="form-control" id="definition"
                          ng-model="vm.glossaryItem.definition"
                          placeholder="Enter Definition..."></textarea>
            </div>
        </div>

    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" style="width: 102px; margin-bottom: 5px;" ng-disabled="glossaryAddEditForm.$invalid" validation-submit="genericCardForm" ng-click="vm.submitForm(glossaryAddEditForm.$valid)">{{vm.submitFormText}}</button>
        <button class="btn btn-warning" style="width: 102px; margin-bottom: 5px;" type="button" ng-click="vm.cancel()">Cancel</button>
    </div>


</form>