<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>LEVO Glossary</title>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
    <link href="Content/bootstrap.min.css" rel="stylesheet" />
    <link href="Content/font-awesome.min.css" rel="stylesheet" />
    <link href="Content/dataTables/datatables.min.css" rel="stylesheet" />
    <link href="Content/dataTables/fixedHeader.dataTables.min.css" rel="stylesheet"/>
    <link href="Content/sweetalert/sweetalert.css" rel="stylesheet" />
    <link href="Content/toastr.css" rel="stylesheet" />

    <script src="Scripts/jquery-3.1.1.min.js"></script>
    <script src="Scripts/bootstrap.min.js"></script>
    <script src="Scripts/spin.min.js"></script>
    <script src="Scripts/dataTables/datatables.min.js"></script>
    <script src="Scripts/dataTables/dataTables.fixedHeader.min.js"></script>
    <script src="Scripts/dataTables/dataTables.bootstrap.min.js"></script>
    <script src="Scripts/dataTables/dataTables.responsive.min.js"></script>
    <script src="Scripts/dataTables/responsive.bootstrap.min.js"></script>
    <script src="Scripts/dataTables/dataTables.buttons.min.js"></script>
    <script src="Scripts/dataTables/buttons.bootstrap.min.js"></script>
    <script src="Scripts/toastr.min.js"></script>
    <script src="Scripts/sweetalert/sweetalert.min.js"></script>

    <!-- Angular Library Scripts -->
    <script src="Scripts/angular.js"></script>
    <script src="Scripts/angular-animate.js"></script>

    <!--<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.20/angular.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.20/angular-animate.js"></script>-->
    <script src="//angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.14.3.js"></script>
    <script src="Scripts/angular-spinner.min.js"></script>
    <script src="Scripts/angular-validation/angular-validation.min.js"></script>
    <script src="Scripts/angular-validation/angular-validation-rule.min.js"></script>
    <script src="Scripts/angular-datatables/angular-datatables.min.js"></script>
    <script src="Scripts/angular-datatables/plugins/fixedheader/angular-datatables.fixedheader.min.js"></script>


    <script src="Scripts/ngSweet/SweetAlert.js"></script>


    <!-- Glossary App Scripts -->
    <script src="app/glossaryApp.js"></script>
    <script src="app/glossaryConfig.js"></script>
    <script src="app/services/glossaryRepository.js"></script>
    <script src="app/controllers/glossaryIndexController.js"></script>
    <script src="app/controllers/glossaryModalInstanceCtrl.js"></script>

    <script src="app/directives/levoGlossaryGrid.js"></script>
    <script type="text/javascript">
        toastr.options = {
            timeOut: 3000,
            progressBar: true,
            closeButton: true,
            preventDuplicates: true,
            extendedTimeOut: 1000,
            positionClass: 'toast-top-center'
        }
    </script>

</head>
<body ng-app="glossaryApp">



<div class="container-fluid" style="margin-top: 20px;">    
    <div class="row" ng-controller="glossaryIndexController as vm">
        <span us-spinner="{radius:30, width:8, length: 16}" spinner-on="showSpinner" spinner-theme="smallBlue" spinner-key="shellSpinner"></span>
        <div class="col-md-2"></div>
        <div class="col-sm-12 col-md-8">



            <div class="panel panel-primary">
                <div class="panel-heading">
                    Glossary Management
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-sm-2">
                            <button class="btn btn-sm btn-success" style="width: 133px; margin-bottom: 5px;" ng-click="vm.addGlossaryItem()">
                                <i class="fa fa-plus"></i> Add Glossary Item
                            </button>
                        </div>
                    </div>


                    <div class="col-sm-12">
                        <div>Total Elements found : {{vm.glossaryList.length}}</div>
                        <div ng-if="!!vm.glossaryList && vm.glossaryList.length>0">
                            <levo-glossary-grid dt-instance="vm.glossaryDtInstance" glossary-list="vm.glossaryList"></levo-glossary-grid>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>
</div>



</body>
</html>
